%h2.app-sub-title Profile
%div.edit-btn
  = link_to 'Edit Profile', edit_profile_path
%div
  = image_tag current_user.avatar_image,class:"prof-photo"
%p.prof-label ◆ハンドルネーム
%div.prof-text
  = current_user.display_name
%p.prof-label ◆自己紹介
%div.prof-text
  = current_user.introduction
%p.prof-label ◆性別
- if current_user.profile.nil?
-else 
  %div.prof-text
    #{I18n.t("enum.genders.#{current_user.gender}")}
%p.prof-label ◆誕生日(年齢)
- if current_user.profile.nil?
-else 
  %div.prof-text
    #{current_user.birthday} (#{current_user.age})
%p.prof-label ◆予約購読有無
- if current_user.profile.nil?
- elsif current_user.profile.subscribed?
  %div.prof-text
    購読している
- elsif !current_user.profile.subscribed?
  %div.prof-text
    購読していない
%hr.linep
%h2.app-sub-title1 Your Boards
- current_user.boards.each do |board|
  %div.cardp
    %div.titlep
      = board.title
    %div.contentp
      = board.content
    %div.markxp
      %p @
    %div.usernamep
      = board.author_name
    %div.time1xp
      %p Posted:
    %div.time1ip
      = board.display_created_at
    %div.time2xp
      %p Updated:
    %div.time2ip
      = board.display_updated_at
    = image_tag board.user.avatar_image,class:'owner-pngp'