%div.cardi
  %p.marki @
  %div.usernamei
    = task.author_name
  %div.titlei
    = task.title 
  %div.contenti
    = task.content
  %p.posti Posted:
  %div.time1i
    = task.display_created_at
  %p.updatei Update:
  %div.time2i
    = task.display_updated_at
  = image_tag task.user.avatar_image,class:'owner-png'
  - if user_signed_in? && current_user.has_written?(task)
  %div.dropdowni
    = image_tag 'Combined Shape.png',class:'btn-pngi'
      %div.dropdown-contenti
        %ul
          %li
            = link_to 'Edit' ,  edit_board_task_path(@board, task)
          %li
            = link_to 'Delete' , board_task_path(@board, task),data: { method: 'delete', confirm: '本当に削除しますか？'}