%div.cardt
  - if task.eyecatch.attached?
    %div.eyecatch
      = image_tag task.eyecatch,class:"eyecatch-png"
  %div.titlei
    = task.title
  %div.contenti
    = task.content
  %div.markx
    %p @
  %div.usernamei
    = task.author_name
  %div.time1y
    %p Posted:
  %div.time1iy
    = task.display_created_at
  %div.time2y
    %p Updated:
  %div.time2iy
    = task.display_updated_at
  %div.comment_notice
    = image_tag 'message-square-outline.png',class:'comment-notice2'
    %span.comment_count
      = task.comment_count
  %div.dropdownt
    - if user_signed_in?
      = image_tag 'Combined Shape.png',class:'btn-pngt'
    %div.dropdown-contentt
      %ul
        %li
          = link_to 'About' , board_task_path(@board, task)
  - task.comments.each do |comment|
    = image_tag comment.user.avatar_image,class:'owner-png'