= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email,class:"email"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",class:"emailbox"
  .actions
    = f.submit "パスワードをメールに送信",class:"submit-btn"
