%h2.app-sub-title Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email,class: "email"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",class: "emailbox"
  .field
    = f.label :password,class: "password"
    %br/
    = f.password_field :password, autocomplete: "current-password",class:"passwordbox"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me,class:"remember-box"
      = f.label :ログイン情報を記憶しますか?,class:"remember-msg"
  .actions
    = f.submit "Submit",class:"submit-btn"
= render "devise/shared/links"
