<h2 class="notice2">Edit Board</h2>
<div class="container">
<ul>
  <% @board.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
  <%= form_with(model: @board, url: boards_path, method: 'post', local: true) do |f| %>
    <div>
      <%= f.label :title,'Name',class:"label-name" %>
      <%= f.text_field :title,class:"name-box" %>
    </div>
    <div>
      <%= f.label :content,'Description',class:"label-desc" %>
      <%= f.text_area :content,class:"desc-box" %>
    </div>
    <%= f.submit 'Submit',class:"submit-btn" %>
  <% end %>
</div>