%h2.app-sub-title Edit Board
.container-new
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @board, url: board_path(@board), method: 'put', local: true) do |f|
    %div
      = f.label :title,'Name',class:"label-namen"
      = f.text_field :title,class:"name-boxn"
    %div
      = f.label :content,'Description',class:"label-descn"
      = f.text_area :content,class:"desc-boxn"
    = f.submit 'Submit',class:"submit-btnn"

