%div.card
  %div.title
    = @board.title 
  %div.content
    = @board.content
  %div.dropdown
    = image_tag 'Combined Shape.png',class:'btn-png dropbtn'
    %div.dropdown-content2
      %ul
        %li
          = link_to 'Edit' , edit_board_path(@board)
        %li 
          = link_to 'Delete' , board_path(@board),data: { method: 'delete', confirm: '本当に削除してもよろしいですか'}
  = image_tag 'default-avatar2.png',class:'owner-png'